@import url('https://fonts.cdnfonts.com/css/gameplay');

:root {
    --shadow-color: #18071f;
}

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: grey;
}

.container-cred {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background-image: url("../images/cen/background.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    color: white;
    text-align: center;
}

h1 {
    font-family: gameplay;
    font-size: 2.5em;
    color: #5ABBF3;
    text-shadow: 0 0 0px var(--shadow-color);
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    color: #ffffff;
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 10px 0;
}

li {

    margin: 5px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 4px solid #5ABBF3;
    border-radius: 5px;
}

p {
    line-height: 1.6;
    margin: 10px 0;
}

hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background: #ddd;
}

img {
    margin: 10px;
    border-radius: 5px;
    max-width: 100%;
}

@media(max-width: 620px) {
    .container-cred {
        width: 100%;
    }
    h1 {
        font-size: 1.3em;
        color: #5ABBF3;
        text-shadow: 0 0 10px var(--shadow-color);
        margin-bottom: 20px;
    }
}